<footer class="footer py-8 bg-primary my-3 " *ngIf="showFooter">
    <div class="container footer-content">
        <div>
          <a href="tanyapanchal1999@gmail.com" class="icon-link"><i class="fas fa-envelope"></i></a>
          <a href="linkedin.com/in/tanya-panchal-0b29a31b7" target="_blank" rel="noopener noreferrer" class="icon-link"><i class="fab fa-linkedin"></i></a>
          <a href="https://github.com/tanyapanchal" target="_blank" rel="noopener noreferrer" class="icon-link"><i class="fab fa-github"></i></a>
        </div>
        <div class="copyright-text txt-light">
          <span>© 2024 TanyaApp </span>
        </div>
      </div>
    </footer>
  